<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список рассылок</title>
</head>
<body>
    <h1>Список рассылок</h1>
    <a href="{% url 'mailing_service:mailing_create' %}">Добавить рассылку</a>
    <table>
        <thead>
            <tr>
                <th>Статус</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Сообщение</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for mailing in mailings %}
                <tr>
                    <td>{{ mailing.get_status_display }}</td>
                    <td>{{ mailing.start_datetime }}</td>
                    <td>{{ mailing.end_datetime }}</td>
                    <td>{{ mailing.message.subject }}</td>
                    <td>
                        <a href="{% url 'mailing_service:mailing_detail' mailing.pk %}">Просмотр</a>
                        <a href="{% url 'mailing_service:mailing_update' mailing.pk %}">Редактировать</a>
                        <a href="{% url 'mailing_service:mailing_delete' mailing.pk %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>